{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "endOfLine": "crlf",
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "plugins": ["tailwindcss"]
}
