@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-xs: 0.8rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  a {
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
  }
}

@layer base {
  html {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Arial,
      "Noto Sans",
      sans-serif;
  }
}

.btn-primary {
  @apply rounded-sm uppercase transition duration-300 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-hidden focus:ring-0 active:bg-blue-800 active:shadow-lg disabled:hover:bg-inherit disabled:hover:shadow-none;
}
.input-primary {
  @apply rounded-sm border border-solid border-gray-300 bg-slate-100 text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:bg-white focus:outline-hidden focus:outline-hidden dark:bg-slate-200 dark:text-black dark:focus:bg-white;
}
.widget-red {
  @apply border-red-500 bg-red-500 shadow-red-500 dark:border-red-700 dark:bg-red-700 dark:shadow-red-800;
}
.widget-green {
  @apply border-green-500 bg-green-500 shadow-green-500 dark:border-green-700 dark:bg-green-700 dark:shadow-green-800;
}
.widget-amber {
  @apply border-amber-500 bg-amber-500 shadow-amber-500 dark:border-amber-700 dark:bg-amber-700 dark:shadow-amber-800;
}
.widget-indigo {
  @apply border-indigo-500 bg-indigo-500 shadow-indigo-500 dark:border-indigo-800 dark:bg-indigo-800 dark:shadow-indigo-800;
}
.widget-gray {
  @apply border-gray-400 bg-gray-400 shadow-gray-400 dark:border-gray-600 dark:bg-gray-600 dark:shadow-gray-700;
}
.widget-fuchsia {
  @apply border-fuchsia-500 bg-fuchsia-500 shadow-fuchsia-500 dark:border-fuchsia-800 dark:bg-fuchsia-800 dark:shadow-fuchsia-800;
}

.faIcon {
  @apply box-content inline-block overflow-visible;
}

.keyboardKey {
  @apply px-2 py-0.5 text-sm font-mono text-gray-800 bg-gray-100 border border-gray-300 rounded shadow-sm;
}
